<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="WBSEntities1" connectionString="metadata=res://*/WBSModel.csdl|res://*/WBSModel.ssdl|res://*/WBSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=WBS;user id=sa;password=Cyberbabes1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>